.sidebar {
	width: 220px;
	background-color: #ccc;
	transform: translateX(-100%);
	transition: all .1s ease-in;
	padding: 1.5em 0;
	position: absolute;
	top: 0;
	overflow: scroll;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.sidebar.isOpen {
	transform: translateX(0);
}

.heading {
	font-size: .9rem;
	padding: 1em 2em;
}

.listContainer {
	margin: 1.5em 0 0;
}

.list {
	list-style: none;
}

.list li {
	padding: 1em 2em;
	transition: all .2s;
	font-size: .9rem;
	cursor: pointer;
}

.list li:not(.bold):not(.line):hover {
	background-color: #aaa;
}

.bold {
	text-transform: uppercase;
	font-weight: 700;
}

@media screen and (min-width: 640px) {
	.sidebar {
		transform: translateX(0);
	}
}