.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #21232b;
	padding: 0 2em;
	position: relative;
	color: #f5f6f7;
}

.title {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

@media all and (min-width: 640px) {
	.menu {
		display: none;
	}
}
