.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eee;
	padding: 0 2em;
	position: relative;
}

.menubtn {
	display: block;
	width: 28px;
	border: none;
	background-color: #eee;
}

.menubtn:before,
.menubtn:after {
	background-color: #ccc;
	content: '';
	display: block;
	height: 2px;
	transition: all .2s ease-in-out;
}

.menubtn:before {
	box-shadow: 0 10px 0 #ccc;
	margin-bottom: 16px;
}

.menubtn:hover:before {
	box-shadow: 0 0 0 #ccc;
	transform: translateY(10px) rotate(45deg);
}

.menubtn:hover:after{
	transform: translateY(-10px) rotate(-45deg);
}