.main {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.arrayContainer {
	width: 100%;
	padding: 0 2em;
	display: flex;
	align-items: center;
}

.arrayBar {
	flex: 1;
	align-self: baseline;
	background-color: pink;
	margin: 0 1px;
}

@media all and (min-width: 640px) {
	.main {
		left: 220px;
		width: calc(100% - 220px);
	}
}